
@{
   ViewBag.Title = "Contact";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Papenkamp str 16
   <br />
   Salzgitter, 38226<br />
   <abbr title="Phone">Phone:  004917642993676</abbr>

</address>

<address>
   <strong>Support:</strong>   <a href="mailto:gonguego@hs_pforzheim.de">gonguego@hs_pforzheim.de</a><br />
   <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">gonguegongueyannick@yahoo.fr</a>
</address>
